html,
body {
  background-color: tomato;
  height: 100%;
}

body {
  display: table;
  margin: 0 auto;
}

.main {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.box__main {
  height: 300px;
  width: 300px;
  display: table-cell;
  vertical-align: middle;
  background-color: wheat;
  border: 2px solid black;
}

.box__top {
  margin: 15px auto;
  height: 70px;
  width: 70px;
  background-color: teal;
  border: 4px solid white;
}

.box__middle {
  margin: 0px auto;
  height: 60px;
  width: 230px;
  background-color: teal;
  border: 4px dashed white;
}

.box__bottom {
  margin: 15px auto;
  height: 70px;
  width: 70px;
  background-color: teal;
  border: 4px solid white;
}
